/* static/css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 60px; /* Increase the margin at the bottom */
    margin-top: 60px; /* Increase the margin at the bottom */
    padding-top: 40px;
    padding-bottom: 40px; /* Add space at the bottom of the page */
}

.chat-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px; /* Increase the margin at the bottom */
    margin-top: 60px; /* Increase the margin at the bottom */
}

input[type='text'], input[type='number'], select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

#chat-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 20px;
}

#analysis-type {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0px;
    padding-left: 10px;
}

.radio-button {
    margin-bottom: 5px;
}

input[type="radio"], label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.radio-button input[type="radio"] {
    margin-right: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-field, .form-group {
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
}


#submitBtn {
    align-self: stretch;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #45a049;
}

#result {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f8f8;
    min-height: 100px;
    overflow-wrap: break-word;
}

#seaborn-plot {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f8f8;
    min-height: 100px;
    overflow-wrap: break-word;
}

#seaborn-plot img:not([src=""]) {
    display: block;
}

#seaborn-plot img[src=""] {
    display: none;
}

#seaborn-plot img {
    width: 100%;
    height: auto;
}

#powered-by {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

#powered-by p {
    margin: 0;
    font-size: 14px;
}

#powered-by img {
    height: 20px;
    margin-left: 10px;
}
